# PORT=5000
# DB_HOST=localhost
# DB_PORT=3306
# DB_USER=root
# DB_PASSWORD=your_password
# DB_NAME=task_manager_db
# DB_SSL=false
# JWT_SECRET=your_super_secret_key_minimum_32_characters
# NODE_ENV=development
# CLIENT_URL=http://localhost:5173
PORT=5000
DB_HOST=sql12.freesqldatabase.com
DB_PORT=3306
DB_USER=sql12828239
DB_PASSWORD=7kHAhsBMXh
DB_NAME=sql12828239
DB_SSL=false
JWT_SECRET=your_super_secret_key_minimum_32_characters
NODE_ENV=development
CLIENT_URL=http://localhost:5174